<%- include('../partials/navbar') %>

<div class="details-content">
  <h2>Title</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam,
    delectus aliquam? Eligendi accusantium nulla velit distinctio. Quisquam
    sequi voluptatum eius!
  </p>
</div>
