<%- include('../partials/navbar') %>

<div class="details-content">
  <h2>Title</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse sit animi
    tempora maxime dolor, dolore magnam eveniet pariatur consectetur reiciendis
    veritatis, tempore laudantium beatae reprehenderit ratione officiis sint
    ipsa eum dolorem nobis libero totam necessitatibus quasi vel. Ut quidem eum
    repellat nemo. Quasi voluptatibus perferendis rem! Nulla adipisci enim
    voluptatibus. Harum, corrupti. Quisquam, excepturi ducimus suscipit ut nemo
    voluptas illo, sit, laboriosam eaque nihil molestias blanditiis error
    perferendis ipsa amet minus corrupti illum aliquam. Distinctio natus
    molestiae cumque asperiores blanditiis ex ea autem voluptatem maxime
    accusantium consectetur optio iste ullam ut, adipisci consequuntur aperiam
    repudiandae perferendis, voluptate harum eaque commodi.
  </p>
</div>
