<%- include('../partials/navbar') %>

<main>
  <h1>Welcome to my blog</h1>

  <div class="intro-content">
    <p>Here you may find a list of my blogs.</p>
    <p>Hope you enjoy reading them, as much as I do writing them.</p>
  </div>

  <div class="blogs-content">
    <% if (blogs.length) { %> <% blogs.map(blog => { %>

    <a href="/<%= blog._id %>">
      <h3><%= blog.title %></h3>
      <p><%= blog.snippet %></p></a
    >

    <% }) %> <% } else { %>
    <p>Currently, there are no blogs to display.</p>
    <% }%>
  </div>
</main>
