<%- include('partials/navbar') %>

<header>
  <h1>About me</h1>

  <div class="about-content">
    <p>
      Good morning, afternoon or evening, dear people on the Internet. My name
      is A.K.Afiq, or Afiq just for short.
    </p>
    <p>
      I've created this blog to share the current turmoils and waves thats been
      undulating within my mind, and what better way, I thought, to express it
      than to disseminate them in the form of writings.
    </p>
    <p>
      Hence, here you will see various topics that may seem unrelated to each
      other but nonetheless intriguing to read (at least from my point of view).
    </p>
    <p>
      In any case, you may find them to your liking or you may not. But that's
      fine.
    </p>
    <p>
      Should you find this topics debatable or wish to add additional inputs,
      feel free to reach out to me.
    </p>
    <p>Have fun browsing, and enjoy life while it lasts.</p>
  </div>
</header>
