@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background: #fdffe7;
}

h1 {
  margin-top: 2rem;
  font-family: "Roboto Slab", sans-serif;
}

.nav-links {
  width: 100%;
  padding: 1.3rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links .logo {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: salmon;
  text-decoration: none;
}
.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-links ul li {
  margin: 0 10px;
}
.nav-links ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1rem;
}
.nav-links ul li a.btn {
  background: lightgreen;
  padding: 0.8rem 1rem;
  border-radius: 1.5rem;
  margin-left: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

header {
  padding: 0 3rem;
}
header h1 {
  display: block;
  text-align: center;
}
header .about-content {
  margin: 4rem auto 0 auto;
  width: 50%;
}
header .about-content p {
  margin-top: 1rem;
  width: 100%;
  line-height: 1.5;
  text-align: center;
  font-weight: 600;
  color: #555;
}

main {
  padding: 0 3rem;
}
main .intro-content {
  margin-top: 2rem;
}
main .intro-content p {
  font-size: 1.2rem;
  line-height: 1.5;
}
main .blogs-content {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}
main .blogs-content section {
  padding: 2rem;
  background: #fab57a;
  border-radius: 2rem;
  cursor: pointer;
}
main .blogs-content section:hover {
  box-shadow: 0px 0px 5px #555;
}
main .blogs-content section h3,
main .blogs-content section p {
  text-align: center;
}
main .blogs-content section p {
  margin-top: 1rem;
}

.error-message {
  text-align: center;
  padding: 0 3rem;
  margin-top: 5rem;
}
.error-message h1 {
  font-size: 5rem;
  color: #fa3b3b;
  font-weight: 700;
}
.error-message p {
  margin-top: 1rem;
  font-weight: 700;
}

.create-blog {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}
.create-blog form {
  margin-top: 3rem;
  width: 400px;
}
.create-blog form label {
  display: block;
  font-weight: 600;
  color: #555;
  width: 100%;
}
.create-blog form input[type=text],
.create-blog form textarea {
  font-family: "Quicksand", sans-serif;
  display: block;
  width: 100%;
  padding: 5px;
  border: 2px solid #999;
  background: white;
  margin: 10px 0 2rem;
  border-radius: 5px;
}
.create-blog form input[type=text]:focus,
.create-blog form textarea:focus {
  outline: none;
  box-shadow: none;
}
.create-blog form textarea {
  resize: vertical;
}
.create-blog form button {
  display: block;
  margin: 0 auto;
  background: lightgreen;
  padding: 0.9rem 1.1rem;
  border-radius: 1.5rem;
  color: #333;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.create-blog form button:active {
  transform: scale(0.95);
}

/*# sourceMappingURL=index.css.map */
